.main_wrapper {
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero p {
  width: 90vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.hero h1 {
  /* font-size: 5rem; */
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 1rem 0;
}

.hero h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.section_height {
  position: relative;
}

.sticky_element {
  position: sticky;
  overflow-x: hidden;
  top: 0;
  left: 0;
}

.track {
  position: relative;
  display: flex;
  height: 100%;
}

.mini_loader {
  height: 5px;
  width: min(200px, 50vw);
  border-radius: 3px;
  background: #2f3640;
  position: absolute;
  left: 50%;
  top: 90vh;
  transform: translateX(-50%);
  z-index: 1;
}

.mini_loader_content {
  content: "";
  width: 0;
  height: 100%;
  background: #f5f6fa;
  top: 0;
  position: absolute;
}

:is(.first_pet, .message_panel, .collage_panel) {
  flex-shrink: 0;
}

.first_pet {
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.first_pet_shadow_box {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.message_panel {
  position: relative;
}

.message_panel_inside {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.message_panel_inside p {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: -10rem;
}

.message_panel_top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.message_panel_top p {
  color: #000;
}

.message_panel_bottom {
  background: #000;
  /* z-index: 3; */
  /* overflow: hidden; */
}

.message_panel_bottom p {
  color: #fff;
}

.collage_panel{
  position: relative;
  width: 100vw;
  height: 100vh;

}

.collage_panel_img {
  object-fit: cover;
  position: absolute;
}

.collage_1{
  left: 23%;
  top: 10%;
}

.collage_2{
  left:55%;
  top: 25%;
}

.collage_3{
  left: 20%;
  bottom: 15%;
}

.collage_4{
  right: 23%;
  bottom: 20%;
}

.collage_5{
  right: 53%;
  top: 30%;
}

.collage_6{
  left: 5%;
  bottom: 20%;
}

.collage_6{
  right: 5%;
  top: 20%;
}

.collage_7{
  right: 5%;
  top: 20%;
}

.pet {
  scale: 1;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

@media (min-width: 576px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 1.7rem;
  }

  .hero p {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 3.5rem;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .hero h1 {
    font-size: 7rem;
    letter-spacing: 1.5rem;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    width: 600px;
  }
}
